@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic");
body {
  background-color: #242424;
  color: #dd1111;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h1 {
  text-transform: uppercase; }

h6 a {
  font-size: 1.6rem;
  color: #ccc;
  text-decoration: none; }
